/* # Global+General # */

:root {
    width: 100%;
    height: 100%;
    font-size: 16px;

    /* # Color Palette # */

    --clr-primary: #3d54e5;
    --clr-secondary: #fc991e;
    --clr-tertiary: #3bcaa7;
    --clr-background: #fefffe;
    --clr-font: #1f1f1f;
    --clr-font-medium: #8a898a;
    --clr-font-light: #babbbc;
    --clr-font-surface: #9c9da1;
    --clr-font-opposite: #e0e0e0;
    --clr-surface-light: #f3f2f3;
    --clr-surface-medium: #8a898a;
    --clr-surface-dark: #1c1b1c;
    --clr-surface-dark-filled: #121112;
    --clr-surface-primary: #f9f6fc;

    /* # Font # */

    --fnt-plain: "Karla", Helvetica, sans-serif;
    --fnt-headline: "Magneta Condensed", "Lora", Helvetica, sans-serif;

}

body {
    width: 100%;
    height: 10300000%;
    margin: 0;
    color: var(--clr-font);
    background-color: var(--clr-background);
}

* {
    box-sizing: border-box;
    font-family: var(--fnt-plain);
}

::selection {
    background-color: var(--clr-primary);
}


:focus {
    outline: 3.5px solid var(--clr-primary);
}

h1,
h2 {
    font-family: var(--fnt-headline);
}

/* # Navigation # */

#navigation {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 98;
    background-color: var(--clr-background);
    border-bottom: 3px solid var(--clr-surface-light);
}

#navigation>section {
    width: 100%;
    display: flex;
    justify-content: unset;
    align-items: center;
}

#navigation>section:first-of-type {
    height: 100px;
    padding-top: .35rem;
}

#navigation>section:last-of-type {
    height: 42.5px;
}

#navigation .logo {
    width: auto;
    height: 45px;
    position: absolute;
    left: 6%;
}

#navigation h1 {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 1.6rem;
}

#navigation div {
    position: absolute;
    right: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
}

#navigation div img {
    width: auto;
    height: 20px;
}

#navigation ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 1.5rem;
}

#navigation ul>li {
    display: inline-block;
    list-style-type: none;
}

#navigation ul>li>a {
    height: 42.5px;
    display: block;
    color: var(--clr-font);
    text-decoration: none;
    font-size: 1.075rem;
}

#navigation ul>li>a.active {
    font-weight: 700;
    border-bottom: 3.25px solid var(--clr-font);
}

@media (max-height: 650px) {

    #navigation>section:first-of-type {
        height: 75px;
        scale: 0.85;
    }

    #navigation>section:last-of-type {
        height: 32.5px;
        scale: 0.85;
        margin-top: .3rem;
    }

    #navigation>section:last-of-type a {
        height: 32.5px;
    }

    main {
        top: calc((100px + 32.5px) * 0.85 + .3rem);
    }

}


/* ### MAIN #### */


main {
    width: 100%;
    height: auto;
    position: absolute;
    display: block;
    top: 100%;
}

/* # Slideshow # */

#slideshow {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.slides,
.slides>div,
.slides>div>.img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides>div>.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides>div>.img-container>.filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(180deg, transparent 40%, #000000b2 100%);
}

.slides>div>.description {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 3;
    color: var(--clr-font-opposite);
}

.slides>div>.description>h1 {
    font-size: 2.15rem;
    margin-bottom: .35rem;
}

.slides>div>.description>p {
    width: 62.5%;
}

.controls {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    z-index: 3;
}

.controls>button {
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    border: 2px solid #000000cb;
    background-color: transparent;
}

.controls>.active {
    background-color: #000000cb;
}